* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}

body{
    background: black;    
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    gap: 30px;
}
.title {
    font-size: 30px;
    text-transform: uppercase;
    color: white;
}
.input {
    max-width: 200px;
    width: 100%;
    padding: 5px 10px;
    border-radius: 20px;
    border: none;
    outline: none;
    font-size: 18px;
}
.btn {
    background: rgb(39, 160, 39);
    color: white;
    text-transform: uppercase;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 25px;
}
.title__time {
    color: white;
}
.game__block {
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(66, 59, 59);
    box-shadow: 0 0 10px 0 white;
    position: relative;
}

.ball {
    border-radius: 50%;
    position: absolute;
}

.square {
    position: absolute;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid #000;
}